# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ (in case teammates use it)
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/

# Compiled Java
*.class

# OS files
.DS_Store
Thumbs.db
